n8n-workflows/MCP-Tool-CreateService.json
{
  "name": "MCP Tool - Create Service",
  "nodes": [
    {
      "parameters": {},
      "id": "execute-workflow-trigger",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        240,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://bw-mcp:8080/rpc",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"tool\": \"create_service\", \"id\": \"req-{{ $now.toFormat('X') }}\", \n  \"params\": {\n    \"server_name\": \"{{ $json.query?.server_name || $json.server_name }}\",\n    \"is_draft\": {{ $json.query?.is_draft !== undefined ? $json.query.is_draft : ($json.is_draft || false) }},\n    \"variables\": {{ JSON.stringify($json.query?.variables || $json.variables || {}) }}\n  }\n}",
        "options": {
          "timeout": 10000
        }
      },
      "id": "http-create-service",
      "name": "HTTP Request - Create Service",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        460,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "// Formater la réponse de création de service\nconst response = $input.item.json.result || $input.item.json;\nconst data = response.data || response;\n\nif (response.status !== 'success') {\n  return {\n    json: {\n      success: false,\n      message: `❌ Erreur lors de la création du service: ${response.msg || 'Erreur inconnue'}`,\n      error: response.msg\n    }\n  };\n}\n\nconst serviceName = data.id || data.SERVER_NAME || 'inconnu';\nconst isDraft = data.is_draft || false;\nconst status = isDraft ? '📝 brouillon' : '✅ en ligne';\n\nlet formattedText = `✅ Service **${serviceName}** créé avec succès en mode ${status}.\\n\\n`;\nformattedText += `• Méthode: ${data.method || 'N/A'}\\n`;\n\nif (data.creation_date) {\n  const date = new Date(data.creation_date).toLocaleString('fr-FR');\n  formattedText += `• Créé le: ${date}\\n`;\n}\n\nif (!isDraft) {\n  formattedText += '\\n⚠️ N\\'oubliez pas de recharger la configuration avec `reload_config` pour appliquer les changements.';\n} else {\n  formattedText += '\\n💡 Le service est en mode brouillon. Utilisez `convert_service` pour le mettre en ligne.';\n}\n\nreturn {\n  json: {\n    success: true,\n    message: formattedText,\n    service: data\n  }\n};"
      },
      "id": "code-format-response",
      "name": "Code - Format Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        680,
        300
      ]
    }
  ],
  "connections": {
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "HTTP Request - Create Service",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request - Create Service": {
      "main": [
        [
          {
            "node": "Code - Format Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-12-27T00:00:00.000Z",
  "versionId": "1"
}